*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header{
    background-color: rgb(5, 108, 72);
    padding: 10px 20px;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

section:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    background-color: white;
}

section:nth-of-type(1) button{
    background-color: rgb(3, 215, 99);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form{
    display: flex;
    flex-grow: 1;
}

form input{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

form button{
    background-color: whitergb(3, 215, 99);
    color: white;
    border: none;
    padding: 10px 20 px;
}

main section:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}

main section:nth-of-type(1) img {
    max-width: 200px;
}

h1{
    font-size: 30px;
}

main section:nth-of-type(1) p {
    font-size: 20px;
    color: #333;
}

main section:nth-of-type(2){
    display:flex;
    justify-content: space-around;
    margin: 20px;
}

main section:nth-of-type(2) div{
    background-color: white;
    width: 220px;
    padding:20px;
    text-align: center;
    border-radius: 15px;
}

main section:nth-of-type(2) img{
    width: 60px;
    margin-bottom: 10px;
}

main section:nth-of-type(2) p{
    margin-top: 5px;
}

main section:nth-of-type(3){
    text-align: center;
    margin: 30px;
}

main section:nth-of-type(3) button{
    font-size: 22px;
    padding: 15px 40px;
    border: none;
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}
