* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header {
    background: #0b5e2a;
    color: white;
    padding: 15px;
    text-align: center;
}

.city {
    font-size: 14px;
    opacity: 0.9;
}
.top-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    background: white;
}

.catalog-btn {
    background: #3e9b2f;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.top-icons {
    display: flex;
    gap: 6px;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    gap: 6px;
    padding: 10px;
}

.search-bar input {
    flex: 1;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #e0e0e0;
}

.search-bar button {
    padding: 12px 18px;
    border-radius: 20px;
    border: none;
    background: #4CAF50;
    color: white;
}

.promo {
    padding: 15px;
}

.promo h2 {
    margin-bottom: 10px;
}

.promo-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.img-cover {
    width: 60%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
}

.circle-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid green;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo-text {
    margin-top: 10px;
    text-align: center;
}

.menu {
    padding: 10px;
}

.menu-item {
    background: white;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-item img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.buy-now {
    width: 90%;
    margin: 15px auto;
    display: block;
    padding: 16px;
    border-radius: 30px;
    border: none;
    background: #5bc44d;
    color: white;
    font-size: 20px;
}
.nav-btn {
  display: inline-block;
  padding: 14px 20px;
  background: #3e9b2f;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
}

.prev {
  background: #999;
}